@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Drake International</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        
        @{
        var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
        var children = homePage.MainNavigation;
        }
        
        
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container px-5">
                <a class="navbar-brand" href="/">ABC Music Studio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                     @if(children != null && children.Any())
                {
                    foreach(var item in children)
                    {
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@item.Url">@item.Name</a></li>
                    }
                }
                    </ul>
                </div>
            </div>
        </nav>
        
        
         <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">@Model.Value("headerTitle")</h1>
                    <h2 class="masthead-subheading mb-0">@Model.Value("headerSubtitle")</h2>
  
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
      
      @RenderBody()
      
        <!-- Footer-->
        <footer class="py-5 bg-black">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        @{
                          var homePageSocial = Model.AncestorOrSelf<HomePage>();
                        }
                          
                          @if(homePageSocial.FooterSocialLinks != null) {
                                                          {
                                                          
                                                            <ul class="list-inline text-center">
                                                            @foreach(var socialLink in homePageSocial.FooterSocialLinks)
                                                                {
                                                                <li class="list-inline-item">
                                                                    <a target="_blank" href="@socialLink.Url" >
                                                                    <span class="fa-stack fa-lg">
                                                                    <i class="fas fa-circle fa-stack-2x"></i>
                                                                    <i class="fab fa-@socialLink.Network fa-stack-1x fa-inverse"></i>
                                                                    </span>
                                                                    </a>
                                                                </li>
                                                                }
                                                            </ul>
                                                                                    
                                                          }
                          }            
                            
                        <div class="container px-5"><p class="m-0 text-center text-white small">&copy; @Umbraco.GetDictionaryValue("FooterCopyrightTitle") @DateTime.Now.Year</p></div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
